<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>
<body>
    <h3>步骤一：请上传训练文件</h3>
    {% if trainuploaded %}
        <h3>训练文件已成功上传</h3>
    {% else %}
        <form action = "http://localhost:5000/uploadTrainLog" method = "POST"
            enctype = "multipart/form-data">
            <input type = "file" name = "file" />
            <input type = "submit"/>
        </form>
    {% endif %}

    <h3>步骤二：点击按钮开始训练</h3>
    {% if testuploaded==False %}
    <button id="start_train" type="button" onclick="startTrain()">开始训练</button>
    <div id="show_train" style="display:none">
        <h3>训练进度如下：</h3>
        <div id="train_percent"></div>
    </div>
    <h3 id="finish_train" style="display:none">训练已完成</h3>
    {% else %}
    <h3 id="finish_train2">训练已完成</h3>
    {% endif %}

    <h3>步骤三：请上传测试文件</h3>
    {% if testuploaded %}
        <h3>测试文件已成功上传</h3>
    {% else %}
        <form action = "/uploadAbnormalLog" method = "POST"
            enctype = "multipart/form-data">
            <input type = "file" name = "file" />
            <input type = "submit"/>
        </form>
    {% endif %}

    <h3>步骤四：点击按钮开始检测</h3>
    <button type="button" id="start_predict" onclick="startPredicate()">开始检测</button>
    <div id="finish_predict" style="display:none">
        <h3>检测已完成</h3>
        <h3>检测结果如下：</h3>
    </div>

</body>

<script type="text/javascript">
   var timer1;
   function startTrain()
   {
      $('#start_train')[0].style.display='none'
     $('#show_train')[0].style.display=''
       $.ajax(
      {
         url: "/startTrain",
         method: 'get',
         success: function(msg)
         {
             console.log(msg);
             $('#show_train')[0].style.display='none';
              $('#finish_train')[0].style.display=''
             clearInterval(timer1);
         },
         error: function (xhr, status, error) {
             console.log(error);
         }
      });
      timer1 = setInterval("showTrain()",500)
   }

   function showTrain()
   {
      $.ajax(
      {
         url: "/showTrain",
         method: 'get',
         success: function(msg)
         {
            console.log(msg);
            $('#train_percent')[0].innerHTML = msg;
         },
         error: function (xhr, status, error) {
             console.log(error);
         }
      });
   }

    function startPredicate()
   {
        $('#start_predict')[0].style.display='none';
       $.ajax(
      {
         url: "/startPredicate",
         method: 'get',
         success: function(msg)
         {
            $('#finish_predict')[0].style.display=''
            console.log(msg);
         },
         error: function (xhr, status, error) {
             console.log(error);
         }
      });
   }



</script>

</html>

